
.instrument-contain{
    /* margin-left: 20px; */
    background-color: rgb(245, 206, 134);
}
.blogs{
    margin-top: 20px;
}
.blogs div{
    border: 1px solid;
    margin: 10px 0;
    border-radius: 10px;
}
.blogs h3{
    text-align: center;
}
.instrument-container{
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .main{
        display: grid;
        grid-template-columns:4fr 1fr;
        padding-left:50px ;
        
    
    }
    .instrument{
        display: grid;
        grid-template-columns: repeat(3,1fr);
       gap: 45px;
       margin-top:20px;
    }
    .instrument-contain{
        margin-left: 20px;
        background-color: rgb(245, 206, 134);
    }

    
  }